
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
p,
li {
  color: #454545;
}
.user-name {
  cursor: pointer;
  margin: 10px 0;
}
.timeline-action {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 980px;
  font-family:sans-serif;

  color: #031349;
  /* margin: auto; */
}
.main {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #d4d6d6;
}

.item {
  padding: 10px;
  width: 100%;
}


.flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
.flex.space-between {
  justify-content: space-between;
}
.contacts {
  margin: 10px 0;
}

.contact {
  margin: 4px 20px 4px 0;
  min-width: 40%;
  width: 40%;
  text-decoration: none;
  color: #454545;
}
.intro{
  /* margin: 0 1rem; */
}
.contact i {
  background-color: #031349;
  border-radius: 50%;
  color:white;
  padding: 6px;
  margin-right: 5px;
}

.right-content {
  max-width: 70%;
  width: 75%;
}
.contact {
  margin: 4px 20px 4px 0;
  min-width: 40%;
  width: 40%;
  text-decoration: none;
  color: #454545;
}
.left {
  width: 25%;
  background-color: #031349;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  min-width: 50px;
}


.left {
  width: 25%;
  background-color: #031349;
}
.icon i {
  background-color: #031349;
  border-radius: 50%;
  display: flex;
  margin: 0 8px;
  align-items: center;
  justify-content: center;
  min-width: 9px;
  min-height: 9px;
  padding: 4px;
  color: white;
}
.icon i.fa-solid {
  padding: 7px;
  height: 32px;
  width: 32px;
  font-size: 22px;
}
.list-items{
  padding: .4rem;
}
.icon::after {
  content: "";
  width: 1.2px;
  flex: 1;
  background-color: #d4d6d6;
}
.timeline {
  color: white;
  text-align: right;
}
.timeline span {
  margin-right: 10px;
}
ul {
  margin: 20px;
}
.dots {
  text-align: right;
}
ul.dot {
  margin: 0px;
}
.dot li {
  min-width: 10px;
  min-height: 10px;
  display: inline-block;
  background-color: #d4d6d6;
  border-radius: 50%;
}
.dot li.full {
  background-color: #031349;
}
h1,
h2,
h3 {
  color: #031349;
}
h1 {
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
}
.title{
  margin-top: -1rem;
}

h2 {
  padding-bottom: 8px;
}
h3 {
  padding-bottom: 6px;
}
